# Environment and configurations files/directories.
venv/**
**/__pycache__
dsabackend/config/db_config.py
dsabackend/config/jwt_config.py

# Pycharm unnecesary files for control systems.
# This files contain user specific settings, hence they aren't neccesary.
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
